.Apps {
  text-align: center;
}
form  { display: table;
text-align: center;
margin: auto; 
margin-top: 15px;  }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.login
{
  width: 350px;
  padding: 10px;
  margin: 0;
  background-color: black;
  box-shadow: 8px 8px 8px #282c34;
  margin: auto;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 105px;
}
.inner-login
{
  color: white;
}
input
{
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}
input:hover
{
  -ms-transform: scale(.9); /* IE 9 */
  -webkit-transform: scale(.9); /* Safari 3-8 */
  transform: scale(.9); 
}
.submit
{
  padding: 5px 5px 5px 5px;
  /* cursor: pointer; */
  font-weight: bold;
  border-radius: 15%;
}
.login-text 
{
  font-weight:bold ;
}
/*  */
.yes
{
  justify-content: space-around;
  display: flex;
  margin: auto;
  margin-top: 100px;
}
.button1
{
  padding: 5px 5px 5px 5px;
  border-radius: 15%;
}
.button2
{
  padding: 5px 5px 5px 5px;
  border-radius: 15%;
}
html{
  /* background-image: url("img.jpg"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: auto;
  height: 100%;
}
#but:hover
{
  -ms-transform: scale(.9); /* IE 9 */
  -webkit-transform: scale(.9); /* Safari 3-8 */
  transform: scale(.9); 
}
.hl
{
  margin-top: 0;
  /* margin-left: 1300px; */
  text-align: right;
  background-color: black;
  padding: 15px;
  /* color: white; */
}
.router
{
  width: 100%;
  line-height: 60px;
  display: flex;
  background-color: lightgray;
  justify-content:space-around ;
  color: aliceblue;
  z-index: 2;
  position: relative;
}
.sidenav
{
  height: 91.8%;  
  width: 15%;  
  position: absolute; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: rgb(25, 240, 255); 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 50px; 
  justify-content: space-between;
  flex-direction: column; 
  display: inline-block;
  align-items: center;
}
.space
{
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.space:hover
{
  background-color: white;
  color:black ;
}
.buttonok
{
  position: fixed;
  width: 5%;
  bottom: 10px;
  margin-left: 90%;
  padding: 5px 5px 5px 5px;
  border-radius: 15%;
  cursor: pointer;
}
table, th, td {
  border:1px solid black;
}